<!DOCTYPE html>
<html>
<head>
 <script type="text/template" id="ChatWindowView">

<div class="ChatWindowView_header">
 <span class="ChatWindowView_name"><%= a.jid %></span>
</div>
<ul class="ChatWindowView_chat">

</ul>
<div class="ChatWindowView_state"></div>
<div class="ChatWindowView_msg">
 <textarea cols="30" rows="5"></textarea>
</div>

 </script>
 <script type="text/template" id="ChatWindowView_chat">
<% _.each(a, function(m,d) { (time = new Date()).setTime(d); %> 
 <li><span class="date"><%= time.getHours() %>:<%= time.getMinutes() %></span> - <span><%- m %></span></li> 
<% }); %>
 </script>
 <script type="text/javascript" src="lib/jquery-1.9.1.min.js"></script>
 <script type="text/javascript" src="lib/lodash.min.js"></script>
 <script type="text/javascript" src="lib/json2.js"></script>
 <script type="text/javascript" src="lib/backbone-min.js"></script>
 <script type="text/javascript" src="lib/strophe-1.0.1.min.js"></script>
 <!--<script src="http://jashkenas.github.com/coffee-script/extras/coffee-script.js" type="text/javascript" charset="utf-8"></script>-->
 <script type="text/javascript" src="coffee/chat.js"></script>
</head>
<body>
<div id="flags"></div>
</body>
</html>