<!DOCTYPE html>
<html>
<head>
 <script type="text/template" id="ChatWindowView">

<div class="ChatWindowView_header">
 <a href="#" class="ChatWindowView_close">X</a>
 <span class="ChatWindowView_name"><%= a.jid %></span>
</div>
<ul class="ChatWindowView_chat">

</ul>
<div class="ChatWindowView_state"></div>
<textarea class="ChatWindowView_msg"></textarea>

 </script>
 <script type="text/template" id="ChatWindowView_chat">
<% _.each(a, function(m,d) { (time = new Date()).setTime(d); %> 
 <li><span class="date"><%= time.getHours() %>:<%= time.getMinutes() %></span> - <span><%- m %></span></li> 
<% }); %>
 </script>
 <script type="text/template" id="aChatView">
  <div class="aChatView">
   <select name="presenceShow">
    <option value="online">Online</option>
    <option value="chat">Ready for Chat</option>
    <option value="away">Away</option>
    <option value="xa">Unavailable</option>
    <option value="dnd">Busy</option>
    <option value="offline" selected="selected">Offline</option>
   </select>
   <input type="text" name="presenceStatus" placeholder="Write your status here" />
   <ul class="aChatView_iconSet">
    
   </ul>
   <ul class="RosterView"></ul>
   <ul class="aChatView_infoNotifications"></ul>
  </div>
 </script>
 <script type="text/template" id="InfoView">
<div class="InfoView_header">
 <a href="#" class="InfoView_close">X</a>
 <span class="InfoView_name"><%= a.jid %></span>
</div>
<div class="InfoView_infoMsg"><%= a.infoMsg %></div>
<% if(a.placeholder){ %><textarea class="InfoView_msg"><%= a.placeholder %></textarea><% } %>
<% _.each(a.buttons, function(m,d) { %><input type="button" value="<%= m.value %>" name="<%= m.name %>" /><% }); %>
 </script>
 <script type="text/javascript" src="lib/jquery-1.9.1.min.js"></script>
 <script type="text/javascript" src="lib/lodash.min.js"></script>
 <script type="text/javascript" src="lib/json2.js"></script>
 <script type="text/javascript" src="lib/backbone.js"></script>
 <script type="text/javascript" src="lib/strophe.js"></script>
 <script type="text/javascript" src="lib/plugins/disco/strophe.disco.js"></script>
 <script type="text/javascript" src="lib/plugins/caps/sha1.js"></script>
 <script type="text/javascript" src="lib/plugins/caps/strophe.caps.jsonly.js"></script>
 <script type="text/javascript" src="coffee/chat.js"></script>
 <link rel="stylesheet" href="css/aChat.css" />
</head>
<body>
<div id="flags"></div>
</body>
</html>